* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #E8F8F5;
}

input, button {
    font-size: 16px;
}